*{
    box-sizing: border-box;
}
body {
    margin: 0px;
    display: grid;
    grid-template-rows: 3.5rem auto;
}
nav {
    width: 100%;
    height: 50px;
    background-color: darkcyan;
    grid-row: 1/2;
    display: flex;
    justify-content: space-between;

}
#brand {
    color: white;
    align-self: center;
    padding-left: 8px;
}
#brand a, #nav-notes a {
    text-decoration: none;
    color: white;
}

#nav-notes{
    color: white;
    align-self: center;
    padding-right: 8px;

}
#header {
    width: 100%;
    height:100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    grid-row: 2/2;
    font-family: sans-serif;
}
#header h1 {
    background-color: rgba(0, 185, 185, 0.42);
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.form {
    margin-top: 50px;
    text-align: center;
}

#notes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#notes-header {
    font-family: sans-serif;
}
#notes-list {
    margin-left: -30px;
}
#notes-list a {
}