<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NoteApp</title>
    <link href="../static/basic.css" type="text/css" rel="stylesheet"/>
</head>
<body>
<nav>
    <div id="brand">
        <a href="{{ url_for('index') }}"><h3>POST IT!</h3></a>
    </div>
    <div id="nav-notes">
        <a href="{{ url_for('notes')}}"><h1>My notes</h1></a>
    </div>
</nav>
<div id="header">
    <h1>Note App</h1>
</div>
<div id="notes">
    <h4 id="notes-header">Stuff i need to deal with</h4>
    <ul id="notes-list" >
        {% if results %}
        {% for n in results %}
            {% if not n['done'] %}
            <li>{{n['note']}}
                <a href="{{ url_for('done', note_id = n['id']) }}"><button type="button">Done</button></a>
            </li>

            {% endif %}
        {% endfor %}
        {% endif %}
    </ul>

</div>
</body>
</html>