<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NoteApp</title>
    <link href="../static/basic.css" type="text/css" rel="stylesheet"/>
</head>
<body>
<nav>
    <div id="brand">
        <h3>POST IT!</h3>
    </div>
    <div id="nav-notes">
        <h1>My notes</h1>
    </div>
</nav>
<div id="header">
    <h1>Note App</h1>
</div>
<div id="notes">
    <h4 id="notes-header">Stuff i need to deal with</h4>
    <ul id="notes-list" >
        <li> I need to pick up Lisa</li>
    </ul>

</div>
</body>
</html>